{% extends 'base.html' %}
{% block body %}
<h3>Ershad Tantry</h3>
<div class="content">
	<h2>Task Master</h2>
	<table>
		<thead><th>Task</th><th>Added</th><th>Actions</th></thead>
		<tbody>
			<tr><td></td><td></td><td><a href="">Delete</a><br><a href="">Update</a></td></tr>
		</tbody>
	</table>
	<form action="/" method="POST">
		<input type="text" name="content" id="content">
		<input type="text" name="topicid" id="topicid">
		<input type="submit" value="Add Task">
	</form>
</div>
{% endblock %}
